[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "jimil749.github.io"]
	path = jimil749.github.io
	url = https://github.com/jimil749/jimil749.github.io.git
